* { /* 기본적인 왼쪽 정렬 */
    margin: 0;
    padding: 0;
}

/* header */

/* header {
    border: 1px solid red; 임시 선
} */

#index_page {
    width: 1000px;
    margin: 0 auto; /*가운데 정렬*/
}

#logo {
    float: left; 
    margin: 30px 15px 10px 20px; /* 로고 여백 */ 
}

#moto { 
    margin: 50px 0px 0px; /* 위쪽에 여백을 넣어 내린 것 처럼 보임 */
}

#top_menu { /*top_menu에 플로트 - 바로 다음에 클리어 (플로트 종료)*/
    float: right;
    margin: 60px 0 0 0; 
}

#top_menu li {
    display: inline;
}

#top_navi li{
    display: inline;
}

#top_navi {
    margin-top: 10px;
}

.line {
    border-top: 1px solid #cccccc;
    margin: 25px 0 0 0;
    /* 만약 margin-top: 10 0 0 0 값 많이 넣으면 오류 남 */
}

li.menu_item {
    margin: 0 0 0 40px; /* 왼쪽 마진으로 여백 만들기 */
}

.clear {
    clear: both; /*플로트 종료*/
}

/* main */

#banner ul li{ 
    display: inline; 
    margin-left: 35px; /* 쏠림 현상 margin으로 커버 */
}

#banner { /* background-color 로 공백 가림 */
    height: 110px;
    background-color: #00a8ab; 
    margin-top: 5px;
}

/* article */
/* customer */

#customer {
    float: left;
    width: 300px;
    height: 110px;
    /* border: 1px solid red; */
    margin-top: 20px;
}

/* id 로 잡는 경우 한 칸 띄어야 함 */

#customer .tltle {
    float: left;
}

#customer .more {
    float: right;
}

#customer .phone {
    margin-left: 10px;
}

/* notice */

#notice {
    float: left;
    width: 300px;
    height: 110px;
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-left: 40px;
}
 
#notice .title {
    float: left;
    margin-left: 10px;
}

#notice .more{
    float: right;
}

#notice .subject {
    float: left;
    margin-left: 10px;
}

#notice .date {
   float: right;
   margin-right: 5px;
}

#notice ul {
    margin-top: 10px;
}

li {
    margin-top: 5px;
}

 /* faq */

#faq {
    float: left;
    width: 300px;
    height: 110px;
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-left: 30px;
    
}
   
/* sitemap 섹션 */

#sitemap {
    /* border: 1px solid blue */
    padding: 20px 0 0 15px;
}

#sitemap div {
    height: 140px;
    float:left;
    margin: 0 10px 0 10px ;
    /* border: 1px solid red */
}

#sitemap ul li {
    list-style-image:url("../practice.images/blue_dot.gif");
    margin: 5px 0 0 20px;
}

#sitemap h3 {
    font-size: 15px;
    color: #096e70;
    margin-left: 15px;
}

#sitemap ul {
    color: #666666;
}

/* footer */

footer {
    border-top: 3px solid rgb(19, 107, 110) ;
    padding: 15px; /* padding margin 차이 */ 
}
footer #address {
    float:left;
}

footer #link {
    float: right;
}

footer #footer_menu li {
    margin-top: 5px;
}

#company_info {
    margin-top: 20px;
}

#company_info li {
    margin-top: 2px;
}

footer #copyright {
    margin-top: 10px;
    font-size: 11px;
    color: black;
}

footer #link h3 {
    font-size: 16px;
    color: #096e70;
}

footer #link select {
    margin-top: 5px;
    margin-left: 50px;
    width: 100px;
    height: 20px;
    font-size: 11px;
}

footer #icons {
    margin-top: 10px;
    text-align: right; /*이미지들은 문자처럼 정렬 가능*/
}