* { /* 기본적인 왼쪽 정렬 */
    margin: 0;
    padding: 0;
}

/* header */

/* header {
    border: 1px solid red; 임시 선
} */

#index_page {
    width: 1000px;
    margin: 0 auto; /*가운데 정렬*/
}

#logo {
    float: left; 
    margin: 15px 15px 10px 20px; /* 로고 여백 */ 
}

#moto { 
    margin: 45px 0px 0px; /* 위쪽에 여백을 넣어 내린 것 처럼 보임 */
}

#top_menu { /*top_menu에 플로트 - 바로 다음에 클리어 (플로트 종료)*/
    float: right;
    margin: 50px 0 0 0; 
}

#top_menu li {
    display: inline;
}

#top_navi li{
    display: inline;
}

#top_navi {
    margin-top: 10px;
}

.line {
    border-top: 1px solid #cccccc;
    margin-top: 30px 0 0 0;
}

li.menu_item {
    margin: 0 0 0 40px;
}

.clear {
    clear: both; /*플로트 종료*/
}

/* main */

#banner ul li{ 
    display: inline; 
    margin-left: 35px; /* 쏠림 현상 margin으로 커버 */
}

#banner { /* background-color 로 공백 가림 */
    height: 110px;
    background-color: #00a8ab; 
    margin-top: 5px;
}

/* article */
/* customer */

#customer {
    float: left;
    width: 300px;
    height: 110px;
    /* border: 1px solid red; */
    margin-top: 20px;
}

/* id 로 잡는 경우 한 칸 띄어야 함 */

#customer .tltle {
    float: left;
}

#customer .more {
    float: right;
}

#customer .phone {
    margin-left: 10px;
}

/* notice */

#notice {
    float: left;
    width: 300px;
    height: 110px;
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-left: 40px;
}
 
#notice .title {
    float: left;
    margin-left: 10px;
}

#notice .more{
    float: right;
}

#notice .subject {
    float: left;
    margin-left: 10px;
}

#notice .date {
   float: right;
   margin-right: 5px;
}

#notice ul {
    margin-top: 10px;
}

li {
    margin-top: 5px;
}

 /* faq */

#faq {
    float: left;
    width: 300px;
    height: 110px;
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-left: 30px;
    
}
   
/* sitemap 섹션 */

#sitemap div {
    float:left;
}

