/* * = 전체 */

* {
    margin: 0;
    padding: 0;
/* 여백 조정 */
    color : blue;
}
/* 공통적으로 적용되야 하는 것들 전체 적용하기. 웹브라우저의 기본 스타일 */

h1 {
    color: pink;
    font-size: 100px;
    }

h1.test {
    color: pink;
    /* 스타일 충돌을 막는 캐스캐이딩. 계단식 적용 */
}   